/* @font-face {
  font-family: "Goyang";
  src: url("fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

html {
  box-sizing: border-box;
  background-color: #ffffff;
  --bg-color: #ffffff;
  color: #000000;
  --color: #000000;
}

html.dark {
  background-color: #000000;
  --bg-color: #000000;
  color: #ffffff;
  --color: #ffffff;
}

body * {
  font-family: Goyang;
  
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

#Theme {
  position: absolute;
  top: 0;
  left: 0;
}

.inputWrap {
  display: flex;
  align-items: center;
}

.inputWrap #random-btn {
  margin-left: 20px;
  height: 40px;
  width: 70px;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.SearchRecent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchRecent .recent {
  cursor: pointer;
  margin: 10px;
  padding: 0.6rem;
  width: 6rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgb(92, 174, 255);
  color: #ffffff;
  border-radius: 7px;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

@media screen and (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.loading, .empty {
  text-align: center;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadein 1s;
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

/* dark mode 처리 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color);
    color: var(--color);
  }
  
  .ImageInfo .content-wrapper {
    background-color: var(--bg-color);
  }
}

/* fade in / out */
@-webkit-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}